@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@source not "../../public";

@font-face {
    font-family: 'Playfair Display';
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
    font-display: swap;
}

@theme {
    --base-font: "Inter", sans-serif;
    --font-playfair: "Playfair Display", serif;
}

body {
    background-color: white;
    font-family: var(--base-font), sans-serif;
    font-weight: 400;
    font-size: 14px;
}
